/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display:block;
}
html{
	font-family: "微软雅黑","Helvetica Neue";
	font-size: 12px;
	background: #ffffff;
}
body{
	overflow-x:hidden ;
}
body,dl,dd,dt{
	margin: 0;
	padding:0;
}
#Doctor{
	height:100vh;
	overflow-x: hidden;
}
ul,ol,li,p ,h1,h2,h3,a{
	margin: 0;
	padding:0;
	list-style: none;
}
a{
	cursor: pointer;
	text-decoration: none;
}
a:active,
a:hover{
	outline: none;
}
img{
	border: none;
}
input,button,textarea,select{
	margin: 0;
	outline: none;
}
textarea{
	overflow: auto;
}
input{
	text-decoration: none;
	border: none;
}
input[type=checkbox]{
	visibility: hidden;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin: 0;
	font-weight: 400;
}
a{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #000000;
	cursor: pointer;
}

button{
	cursor: pointer;
	list-style: none;
	border: none;
	background: none;
}
img,.img{
	border-color:transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.btn{
	text-align: center;
	padding-bottom: 30px;
}
/*顶部菜单*/
#top_nav {
	margin: 0 auto;
	z-index: 1000;
	width:100%;
	height:70px;
}
#top_nav nav{
	display: table;
	height:70px;
	margin: 0 auto;
	position: relative;
	width:1200px;
}
#top_nav nav .logo{
	position: relative;
	float: left;
	margin: 15px 0;
	cursor: pointer;
	border-radius: 3px;
	background-image: url("../image/logo2.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 80%;
	background-color: #3f8654;
	width:150px;
	height:40px;
}
#top_nav nav>.logo>i{
	position: absolute;
	right: 0;
	top:0;
	padding: 5px;
	font-size: 20px;
	align-self: center;
	color: #ffffff;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);
}
.menu{
	z-index: 1000;
	display: none;
	position: absolute;
	top:56px;
	left: 0;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
	background: #ffffff;
}
.menu>ul{
	float: right;
	width:220px;
}
.menu>ul>li,.menu>.search{
	cursor: pointer;
	padding: 0 10px;
	height:40px;
	border-bottom: 1px solid #ebebeb;
}
.menu>.search input{
	line-height:38px;
}
.menu>.search i{
	margin-top: 6px;
	font-size: 24px;
	float: right;
}
.menu>ul>li{
	margin: 0 0 0 auto;
	width:198px;
}
.menu>ul>li span{
	float: left;
	line-height:40px;
}
.menu>ul>li i{
	margin-top:11px;
	float: right;
}
.menu>ul>.active{
	border-left: 2px solid #3f8654;
	color: #3f8654;
}
.menu_sub_content{
	width:440px;
	position: absolute;
	top:0;
	left: 220px;
}
.menu_sub_content{
	background: #ffffff;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.menu_sub_content .list{
	padding: 20px;
	display: table;
	width:400px;
}
.menu_sub_foot{
	text-align: center;
	width:400px;
	margin: 20px;
	background: #ebebeb;
}
.menu_sub_foot a{
	display: block;
	line-height:40px;
	height:40px;
	color: #3f8654;
}
.menu_sub_content dl{
	padding:0 20px;
	display: table;
	height:240px;
	float: left;
	box-sizing: border-box;
	width:200px;
}
.menu_sub_content>dl>a{
	padding-bottom: 20px;
	font-size: 12px;
	color: #3f8654;
	height:30px;
	align-items: center;
}
.menu_sub_content dl dt{
	padding: 10px 0;
}
.menu_sub_content dl>a{
	color: #3f8654;
}
.menu_sub_content dl dt a{
	font-size: 14px;
	color: #3f8654;
}
.menu_sub_content dl dt a i{}
.menu_sub_content dd{
	width:80%;
}
.menu_sub_content dl:nth-of-type(2n-1){
	border-right: 1px solid #ebebeb;
}
.menu_sub_content dl:nth-of-type(1),.menu_sub_content dl:nth-of-type(2){
	border-bottom: 1px solid #ebebeb;
}
.menu_sub_content dd a{
	line-height:24px;
	display: block;
	height:24px;
	font-size: 12px;
}
.menu_sub_content dd a i{
	margin: 0;
	float: right;
}
.menu_sub_content dd a:hover{
	color: #3f8654;
}
.menu_login{
	position: relative;
	z-index: 2000;
	float: right;
}
.menu_login a{
	float: left;
	display: block;
}
.menu_login i{
	margin: 15px 5px;
	cursor: pointer;
	float: left;
	width:40px;
	height:40px;
	display: block;
	background: url("../image/icon_home_login.png") no-repeat;
}
.menu_login .login_info,
.menu_login .search{
	float: left;
	position: relative;
}
.menu_login .login_info>div{
	right: 10px;
	top:70px;
	position: absolute;
	display: table;
	height:20px;
	background: #ffffff;
	border: 1px solid #cccccc;
}
.menu_login .search div{
	margin: 19px 0;
	display: block;
	height:30px;
	position: relative;
	border: 1px solid #cccccc;
	width:30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.menu_login .active div{
	width:200px;
	transition: all 0.3s;
}
.menu_login .search input{
	background: none;
	display: block;
	width:0;
	height:28px;
}
.menu_login .active input{
	margin: 0 30px 0 15px;
	width:155px;
	transition: all 0.3s;
}
.menu_login .search i{
	top:0;
	right: -10px;
	position: absolute;
}
.menu_login .user{
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid #808080;
	margin: 8px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.menu_login .login_info div:before{
	position: absolute;
	content: "";
	z-index: 1;
	top: -18px;
	left: 58px;
	border: 10px solid transparent;
	border-bottom: 8px solid #cccccc;
}
.menu_login .login_info div:after{
	position: absolute;
	content: "";
	z-index: 1;
	top: -17px;
	left: 58px;
	border: 10px solid transparent;
	border-bottom: 8px solid #ffffff;
}
.menu_login ul li{
	height:22px;
	line-height:22px;
	display: block;
	width:90px;
}
.menu_login ul li a{
	font-size: 12px;
	display: block;
	width:100%;
	height:100%;
	text-align: center;
}
.menu_login ul li:hover{
	background: #f5f5f5;}
.menu_login ul li:hover a{
	color: #3f8654;
}
/***底部组件***/
#foot_bar{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width:100%;
	background: #3f8654;
	color: #afe2be;
}
#foot_bar>.line{
	left: 0;
	position: absolute;
	top:0;
	display: flex;
	width:100%;
	height:4px;
	background: #062033;
	border-bottom: 1px solid #245645;
}
#foot_bar>div{
	margin: 0 auto;
	position: relative;
	padding: 25px;
	width:1140px;
}
#foot_bar .company_info{
	float: left;
	width:240px;
}
#foot_bar .company_info img{
	webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
#foot_bar .company_info img:first-child{
	margin-bottom: 10px;
}
#foot_bar .code{
	float: right;
}
#foot_bar .contact_us{
	position: absolute;
	left: 35%;
}
#foot_bar .contact_us h3 a{
	font-size: 14px;
	color: #ffffff;
	padding-right: 20px;
}
#foot_bar .contact_us h3 a:last-child{
	padding-left:20px ;
	border-left: 1px solid #ffffff ;
}
#foot_bar .contact_us>div img{
	float: left;
}
#foot_bar .contact_us>div>div{
	margin-top: 10px;
	width:340px;
	margin-left:40px ;
}
#foot_bar .contact_us strong{
	display: inline-block;
	width:400px;
	font-size: 22px;
	font-weight: 700;
	color: #ffffff;
}
#foot_bar .contact_us small{
	font-size: 16px;
	color: #ffffff;
}
#foot_bar p{
	vertical-align:middle;
	color: #ffffff;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
#foot_bar>p{

	clear: both;
	width: 820px;
	line-height:26px;
}
#foot_bar .code>div:first-child{
	float: left;
	width:115px;
	margin-right: 10px;
}
#foot_bar .code>div:last-child{
	float: right;
	width:115px;
}
#foot_bar>p>a{
	display: inline;
	color: #afe2be;
}
#foot_bar>p>a:hover{
	text-decoration: underline;
	color: #ffffff;
}
/***侧边栏***/
#sidebar{
	z-index: 1000;
	height:100%;
	position: fixed;
	top:0;
	right: 0;
}
#sidebar li{
	width:34px;
	cursor: pointer;
}

#sidebar section{
	width:34px;
	position: absolute;
	top:50%;
	margin-top: -170px;
	right: 0;
}
#sidebar li{
	line-height:34px;
	width:34px;
	height:34px;
	float: right;
	position: relative;
	border-radius: 3px;
	margin: 1px 0;
	background: #9a9a9a;
}
#sidebar li a{
	display: block;
	height:34px;
	width:75px;
}
#sidebar li span{
	color: #ffffff;
	padding-left: 15px;
	height:34px;
	width:100px;
	opacity: 0;
}
#sidebar li:hover{
	height:34px;
	width: 100px;
	background: #0fa732;
}
#sidebar li:hover span{
	opacity: 1;
}
#sidebar i{
	background: url("../image/icon_sidebar.png") no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	width:35px;
	height:35px;
}
#sidebar em{
	position: absolute;
	right: 4px;
	top: 4px;
	width:6px;
	height:6px;
	border-radius: 50%;
	background: #d7000f;
}
#sidebar footer{
	width:34px;
	position: absolute;
	right: 0;
	bottom: 0;
}


/***内容导航横条***/
.section_nav_bar{
	display: block;
	height:44px;
	background: #707070;
	width: 100%;
}
.section_nav_bar>div{
	margin: 0 auto;
	width: 1200px;
}
.section_nav_bar>div>div{
	float: left;
}
.section_nav_bar>div>div span{
	color: #ffffff;
	margin: 0 3px;
	line-height:44px;
}
.section_nav_bar>div>div span a{
	color: #ffffff;
}
/*iconfont*/
.icon-weidian{
	font-size: 20px;
	color: #ffffff;
}
.icon-erweima{
	color: #4d4a4f;
	margin: 10px;
}

.dn{
	display: none !important ;
}
.fixed{
	z-index: 9999;
	top:0;
	position: fixed;
}
.gray{
	-webkit-filter:grayscale(1);
}
#box{
	z-index: 1000;
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left: 0;
}
.clearFloat{
	clear: both;
}

/*用户顶部菜单*/
#user_top_nav{
	display: table;
	margin: 0 auto;
	padding:0 20px 0 125px ;
	width: 1055px;
	height: 80px;
	background: #1ba794;
}
#user_top_nav .nav_l{
	float: left;
	position: relative;
}
#user_top_nav .nav_l a{
	top: 20px;
	position: absolute;
	background-image: url(../image/user_a_bg.png);
	width: 72px;
	height: 27px;
	display: block;
}
#user_top_nav .mall{
	background-position: left;
	left: 214px;
}
#user_top_nav .doctor{
	background-position: right;
	left: 286px;
}
#user_top_nav .nav_r{
	float: right;
}
#user_top_nav>div i{
	float: left;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	padding:28px 10px;
	color: #ffffff;
}
#user_top_nav>div i span,
#user_top_nav>div i label{
	text-align: center;
	line-height:16px;
	position: absolute;
	background: #e52435;
	width:16px;
	height:16px;
	left: 24px;
	top:20px;
	border-radius: 50%;
	font-size: 10px;
}
#user_top_nav>div .icon-youxiang{
	font-size: 20px;
}
#user_top_nav>div i label{
	background: #f6bb42;
}
#user_top_nav a{
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
	color: #ffffff;
}
#user_top_nav img{
	margin: 6px 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}
#user_top_nav>div .img{
	float: left;
	margin: 10px 15px;
	width:60px;
	height:60px;
	border-radius: 50%;
}
#user_top_nav>div p{
	line-height:80px;
	float: left;
	color: #ffffff;
}

/*用户侧边菜单*/
#user_sidebar{
	float: left;
	height:1100px;
	position: relative;
	width: 125px;
	background: #1fbba6;
}
#user_sidebar ul{
	width:120px;
	right: 0;
	top:0;
	position: absolute;
	padding-top: 90px;
}
#user_sidebar a{
	display: table;
	height:120px;
	width:120px;
	margin: auto 0;
}
#user_sidebar a .img{
	display: block;
	margin: 20px auto 10px auto;
	background-size: auto;
	background-position: -61px 0;
	background-image: url(../image/user/icon_user_nav.png);
	width:61px;
	height:61px;
}
#user_sidebar a span{
	display: inline-block;
	width:100%;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
}
#user_sidebar li{
	height:120px;
}
#user_sidebar .active a{
	background: #f7f7f7;
}
#user_sidebar .active span{
	color: #1fbba6;
}
#user_sidebar .active .img{
	background-position-x: 0px;
}
.paging a{
    display: inline-block;
}