/* ÎÒµÄÑûÇë */
/* ËÑË÷¿ò */
.search{ margin:0.25rem 0.4rem; background:white; border-radius:0.1rem; }
.search>input{ width:100%; height:0.89rem; padding:0 0.2rem; background:url(../images/search_03.png) no-repeat right 0.46rem center; background-size:0.49rem;  }
/* ÑûÇëÁÐ±í */
.invitedList{ background:white; }
.invitedList>dl>dd{ padding:0.33rem 0; margin-left:0.42rem; border-bottom:0.02rem solid #d7d7d7;  }
.invitedList>dl>dd:last-child{ border-bottom:none; }
.invitedList>dl>dd>a>img{ width:0.93rem; height:0.93rem; border-radius:50%; }
.invitedList>dl>dd>a>span{ display:inline-block; margin-left:0.32rem; font-style:normal; font-size:0.37rem; font-weight:bold;  }
.invitedList>dl>dd>a>img,.invitedList>dl>dd>a>span{ vertical-align:middle; }






