/* 公用  */

/* 导航列表 */
.nav{ width:210px; display:inline-block; background:#95837f; }
.nav>.greetings{ display:inline-block; margin:20px 0 0 20px; font-size:16px; color:white;  }
.nav>.logoBox{ text-align:center; }
.nav>.logoBox>i>img{ width:128px; height:128px; margin-top:20px; }
.nav>.logoBox>span,.nav>.logoBox>p{  color:white; font-size:16px; margin:16px 0; }
.nav>ul.navList{ margin-top:24px; }
.nav>ul>li{ border-top:1px solid #7b6d6a; border-bottom:1px solid #b19e99; }
.nav>ul>li>a{ display:block; padding:10px 0; }
.nav>ul>li>a>img{ width:26px; vertical-align:middle; padding-left:20px; }
.nav>ul>li>a>span{ vertical-align:middle; padding-left:12px; color:white; font-size:16px; }
.nav>ul>li>ul{  }
.nav>ul>li>ul>li.listCur>a{ margin-left:79px; padding-left:13px; border-left:3px solid #ffd75c;!important }
.nav>ul>li>ul>li{ padding:13px 0; background:#6e5c58; border-bottom:1px dotted #95837f; }
.nav>ul>li>ul>li>a{ display:block; margin-left:94px; font-size:15px; color:white; }
.nav>ul>.navCur{ background:#6e5c58; border:none; }
.nav>ul>.navCur>a>img{ padding-left:17px; border-left:3px solid #ffd75c; }
.aChild{ float:right; margin-top:6px; margin-right:14px; }
.aChild>img{ width:12px; }

 /*  标题 */
.title{ width:1230px; height:60px; line-height:60px; display:inline-block; background:white; border-bottom:1px solid #ddd; }
.title>h3{ display:inline-block; margin-left:22px; font-size:20px; color:#5a2e17; }
.titleRight{ float:right; }
.titleRight>a{ display:inline-block; margin-right:26px; }
.titleRight>a>img{ width:24px; height:24px; vertical-align:middle; margin-right:8px; }
.titleRight>a>span{ vertical-align:middle; font-size:13px; color:black; }

/* 右侧内容 */
article{ width:1230px; display:inline-block; vertical-align:top; }


@media screen and (max-width:1100px) {
    .title{ width:890px; }
}





