.rightSide{width: 1190px;  float:left; margin: 15px 0 0 15px;}
/* 小导航*/
.smallNav{ width: 1190px; height: 30px; margin-top: 8px;}
.smallNav i{ display: inline-block; width: 25px; height: 25px; background: url(../images/ding_03.png); vertical-align: middle;}
.smallNav a{ font-size: 14px; color: #999999;}
.smallNav a.cur{ color: #333333;}
/*所有订单*/
.allOrder{ width: 1190px; height: 50px; background: white; margin-top: 10px; padding-left: 20px;}
.allOrder li{ float: left; padding-top: 2px;}
.allOrder li a{ display: block; line-height: 46px; font-size: 14px; color: #666666; margin-right: 25px; padding: 0 2px;}
.allOrder li a .dot{ display: inline-block; width: 6px; height: 6px; background: #ff5f4f; border-radius: 50%; vertical-align: middle; margin-right: 4px;}
.allOrder li a .number{ display: inline-block; min-width: 26px; height: 14px; text-align: center; line-height: 14px; background: #e1e1e1; border-radius: 6px; font-size: 10px; color: #000000; font-style: normal; margin-left: 4px;}
.allOrder li.hasCancel a{ text-decoration: line-through; margin-left: 30px;}
.allOrder li.allList{ margin-right: 20px;}
.allOrder li.current a{ color: #5a2e17; border-bottom: 2px solid #5a2e17;}
.allOrder li.waitPay a .dot{ background: #000000;}
.allOrder li.waitCarry a .dot{ background: #ffa800;}
.allOrder li.inCarry a .dot{ background: #1dc499;}
.allOrder li.hasFinish a .dot{ background: #b5b5b5;}
.allOrder li.hasFinish a{ margin-left: 25px;}
/*标题*/
.tabThead{ height: 42px; width: 1190px; background:#f1f1f1;}
.tabThead li{ float: left; padding-top: 15px; text-align: center; font-size: 14px; color: #333333;}
.tabThead li:nth-child(1){ width: 270px; text-align: left; padding-left: 25px;}
.tabThead li:nth-child(2){ width: 165px;}
.tabThead li:nth-child(3){ width: 140px;}
.tabThead li:nth-child(4){ width: 240px;}
.tabThead li:nth-child(5){ width: 150px;}
.tabThead li:nth-child(6){ width: 210px;}
.tabThead li.dealState{ padding-top: 0; position: relative;}
.tabThead li.dealState .downPic{ display: inline-block; width: 12px; height: 6px; background: url(../images/heisan_06.png); margin-left: 3px;}
.tabThead li.dealState .biaoti{ display: inline-block; width: 112px; height: 27px; padding-top: 15px; cursor: pointer;}
.tabThead li.dealState .biaoti .jiao{ display: inline-block; width: 58px; text-align: left;}
.tabThead li.dealState .selectBox{ position: absolute; left: 19px; top: 38px; z-index: 9; background: white; box-shadow: 0 0 10px #dfdfdf; padding-bottom: 10px; display: none;}
.tabThead li.dealState .selectBox a{ display: block; width: 112px; font-size: 14px; color: #333333; background: white; margin-top: 10px; text-align: left; text-indent: 21px;}
.tabThead li.dealState .selectBox a:hover{ color: #5a2e17;}
.tabThead li.dealState .selectBox i.bai{ display: inline-block; width: 112px; height: 8px; background: white; z-index: 10; position: absolute; left: 0; top: -4px;}
.tabThead li.clickState .biaoti{ background: white; box-shadow: 0 0 10px #dfdfdf;}
.tabThead li.clickState .downPic{ background: url(../images/heisan_03.png);}

/* 查找单号 */
.searchOrder{ padding-left:20px; }
.searchOrder>form>ul>li{ display:inline-block; margin-right:26px; padding:15px 0; }
.searchOrder>form>ul>li>span,.searchOrder>form>ul>li>input{ vertical-align:middle; }
.searchOrder>form>ul>li>span{ font-size:12px; }
.searchOrder>form>ul>li>input{ height:28px; padding-left:15px; margin-left:10px; font-size:12px; border-radius:20px;  }
#orderNum{ width:158px; box-shadow: 1px 2px 4px #888888; }
#seatNum{ width:116px;  box-shadow: 1px 2px 4px #888888; }
#orderSub{ width:80px; padding-left:0; background:#fec006; color:white; font-size:12px; cursor:pointer; }

/*表格模块*/
.tableBox li{ width: 1190px; background: white; margin-bottom: 15px; cursor: pointer;}
.tableBox li:last-child{ margin-bottom:0;}
.tableBox li:hover{ box-shadow: 0 0 15px #c1c1c1;}
.tableBox li .title{ height: 30px; font-size: 14px; padding-top: 12px; padding-left: 20px;}
.tableBox li .title .orderNumber{ float: left; color: #aaaaaa; margin-left: 60px;}
.tableBox li .title .time{ float: left; color: #666666; margin-top: 2px;}
.tableBox li .row{font-size: 0; margin-top: 12px; border-top: 1px solid #eeeeee;}
.tableBox li .row span{ display: inline-block; min-height: 100px; font-size:12px; border-right: 1px solid #eeeeee; vertical-align: top;}
.row span:nth-child(1){ width: 280px; padding: 20px 0 0 25px;}
.row span:nth-child(2){ width: 166px; text-align: center;}
.row span:nth-child(3){ width: 140px; text-align:center; }
.row span:nth-child(4){ width: 240px; }
.row span:nth-child(5){ width: 148px; line-height: 100px; text-align:center; }
.row span:nth-child(6){ width:212px; line-height: 100px; text-align:center; border-right: none !important;  }
.row .userBox .imgL{ width: 60px; height: 60px; float: left; border-radius: 8px; overflow: hidden;}
.userBox .imgL img{width: 100%; height: 100%;}
.row .userBox .messageR{ float: left; width: 174px; margin-top:7px; margin-left: 15px;}
.userBox .messageR .name{ font-size: 14px; color: #000000; margin-top: 2px;}
.userBox .messageR .orderNum{ font-size: 12px; color: #333333; margin-top:6px;}
.row span .price{ font-size: 14px; color: #ff7802; margin-top: 42px;}
.row span .carryMoney{ font-size: 12px; color: #6c6c6c; margin-top: 2px;}
.row span .bigBar1,.row span .bigBar2,.row span .bigBar3,.row span .bigBar4,.row span .bigBar5{ width: 200px; height: 8px; background: #eeeeee; border-radius: 6px; position: relative;}
.row span .smallBar{ width: 40px; height: 8px; background: #ffa42f; border-radius: 6px; position: absolute; left: 0; top: 0;} 
.row span .character{ width: 200px; height: 20px;}
.userYear,.userName{ margin-top:36px; }
	/*待接单进度条*/
/*.row span .bigBar2 .smallBar{ width: 80px;}
.row span .bigBar2 .state{ left: 52px;}*/
	/*待配送进度条*/
/*.row span .bigBar3 .smallBar{ width: 120px;}
.row span .bigBar3 .state{ left: 92px;}*/
	/*配送中进度条*/
/*.row span .bigBar4 .smallBar{ width: 160px;}
.row span .bigBar4 .state{ left: 132px;}*/
	/*已完成进度条*/
/*.row span .bigBar5 .smallBar{ width: 200px;}
.row span .bigBar5 .state{ left: 172px;}*/
.row span .character i{ font-style: normal; font-size: 12px; color: #999999;}
.row span .character .pai{ float: left;}
.row span .character .wan{ float: right;}
.row span .state{ width: 50px; height: 25px; background: #798697; position: absolute; left: 12px; top: -32px; font-size: 12px; color: white; text-align: center; line-height: 25px; display: none;}
.row span .state s{ text-decoration: none;}
.row span .state .sijiao{ display: inline-block; width: 6px; height: 6px; background: #798697; position: absolute; left: 22px; top: 22px; transform: rotate(45deg);}
/*.row span .waitPay2,.row span .waitLis,.row span .waitCar,.row span .inCar,.row span .hasFin{ margin-top: 25px;}*/
.row span .waitPay2 i,.row span .waitLis i,.row span .waitCar i,.row span .inCar i,.row span .hasFin i{display: inline-block; width: 6px; height: 6px; background: #ff5d4a; border-radius: 50%; vertical-align: middle; margin-right: 6px;}	
.row span .waitPay2 i{ background: #000000;}
.row span .waitLis i{ background: #ff5f4f;}
.row span .waitCar i{ background: #ffa800;}
.row span .inCar i{ background: #1dc499;}
.row span .hasFin i { background: #b5b5b5; }
.row span .hasCan i { background: #b5b5b5; }
.row span .waitPay2 b,.row span .waitLis b,.row span .waitCar b,.row span .inCar b,.row span .hasFin b{ font-style: normal; font-size: 12px; color: #aaaaaa; vertical-align: middle; display: inline-block;}
.row span .getOrder,.row span .carry,.row span .hadFinish{ display:inline-block; width: 68px; height: 28px; background: #ff5d4a; font-size: 12px; color: #FFFFFF; text-align: center; line-height: 28px; border-radius: 4px; margin-right: 10px; }
.row span .carry{ background: #ffa800;}
.row span .hadFinish{ background: #1dc499;}
.row span .cancel{ display:inline-block; font-size: 12px; color: #666666; width: 68px; height: 28px; background: #f9f9f9; border: 1px solid #e8e8e8; border-radius: 4px; text-align: center; line-height: 28px;}

.row span .detail{ margin: 2px 0 0 5px;}
.row span .detail a{ font-size: 12px; color: #000000;}
.row span .messageTip{ margin: 3px 0 0 18px; position: relative;}
.row span .messageTip .imgT{ display: inline-block; width: 20px; height: 18px; background: url(../images/xiao_03.png);}
.row span .messageTip .messCha{ font-size: 12px; color: #000000; width: 100px; padding:5px 0; text-align: center; border: 1px solid #ffa42f; position: absolute; left: -38px; top:25px; background: white; display: none;}
.row span .messageTip .messCha .sanjiao{ width: 8px; height: 8px; background: white; border-left: 1px solid #ffa42f; border-top: 1px solid #ffa42f; position: absolute; left: 43px; top: -5px; transform: rotate(45deg);}
/*分页*/
.page{ float:right; margin-top:30px; margin-right:20px; }
.page>a,.page>span{ display:inline-block; vertical-align:middle; padding:5px 10px; margin-left:10px; color:#999; font-size:14px; background:white; }
.page>a:hover{ background:#6e5c58; color:white; }
/*订单详情弹框*/
.detailBomb{ width: 370px; height: 520px; background: white; box-shadow: 0 0 20px #dedede; position: fixed; left: 50%; margin-left: -185px; top: 50%; margin-top: -260px; display: none;}
.detailBomb .messageBox{ width: 315px; height: 375px; margin: 30px 0 0 28px; overflow: auto; border-bottom: 1px solid #eeeeee;}
.messageBox .numberBox{ position: relative;}
.numberBox .dingdan{ font-size: 12px; color: #000000;}
.numberBox .dingdan i{ display: inline-block; width: 13px; height: 13px; background: white; border-radius: 50%; border: 3px solid #009944; vertical-align: middle; margin-right: 12px;}
.numberBox .cont{ border-left: 1px solid #F2F2F2; min-height: 50px; margin-left: 6px; margin-top: 2px;}
.numberBox .cont p{ font-size: 12px; color: #666666; margin-left: 17px;}
.numberBox span{ display: inline-block; width: 3px; height: 3px; background: #c2c0c1; border-radius: 50%; position: absolute;}
.numberBox .shang{ left: 5px; top: 19px;}
.numberBox .xia{left: 5px; bottom: 0px !important;}
.timeBox .dingdan i{ border: 3px solid #ff9500;}
.takeBox .dingdan i{ border: 3px solid #dc1c5d;}
.proBox .dingdan i{ border: 3px solid #1fb5ad;}
.takeBox .cont{ min-height: 65px;}
.proBox .cont{ border-left: none;}
.proBox .cont li{ margin-left: 18px; width: 265px;}
.proBox .cont li i{ font-style: normal; font-size: 12px; color: #666666; display: inline-block; vertical-align: middle;}
.proBox .cont li i.wen1{width: 172px;}
.proBox .cont li i.wen2{width: 30px; text-align: right;}
.proBox .cont li i.wen3{width: 50px; word-break: break-all; text-align: right;}
.proBox .cont .redPaper{ width: 264px; height: 30px; margin-top: 5px;}

.proBox .cont .red{float: left; display: inline-block; width: 60px; height: 20px; background: #dc1c5d; font-size: 12px; color: white; text-align: center; line-height: 20px; font-style: normal;}
.proBox .cont .money{ float: right; font-style: normal;}
.detailBomb .payBox{ height: 50px; margin-left: 51px; width: 268px; margin-top: 3px;}
.payBox .payType{ width: 110px; float: left; font-size: 12px; color: #666666; padding-top: 8px;}
.payBox .allMon{ width: 150px; float: right; font-size: 24px; color: #DC1C5D; text-align: right;}
.closeBox a{ display: block; width: 105px; height: 35px; background: #43cb83; font-size: 12px; color: white; text-align: center; line-height: 35px; border-radius: 4px; margin-left: 132px;}
/*删除订单提示弹框*/
.delePart{ width: 380px; height: 180px; background:white; position: fixed; left: 50%; margin-left: -190px; top: 50%; margin-top: -90px; padding: 15px 20px; box-shadow: 0 0 20px #dedede; z-index: 10;}
.delePart .close{ display: block; width: 12px; height: 12px; background: url(../images/close_03.png); margin-left: auto;}
.delePart p{font-size: 12px; color: #333333; line-height: 24px; padding-left: 10px;}
.delePart .btnBox{margin-top: 20px; text-align: center;}
.btnBox a.sure{ width: 42px; height: 20px; background: #ffce1c; display: inline-block; border: 1px solid #e69c14; color:#a33300; font-size: 12px; line-height: 20px; vertical-align:middle; margin-right: 30px;}
.btnBox a.think{ width: 54px; height: 20px; display: inline-block; border: 1px solid #dddddd; color: #333333; font-size: 12px; vertical-align: middle; line-height: 20px;}
.cancelBomb{ display: none;}
.cancelBomb .reasonBox{ height: 25px;}
.reasonBox .ding{ width: 103px; float: left;}
.reasonBox .reasonSel{ width: 150px; float: left; position: relative;}
.reasonBox .reasonSel .choose{ width: 150px; height: 20px; display: inline-block; border: 1px solid #dddddd; margin-top: 2px;}
.reasonSel .choose span{ font-size: 12px; color: #333333; display: inline-block; width: 133px; padding: 0 2px; }
.reasonSel .choose .down{ display: inline-block; width: 13px; height: 7px; background:url(../images/sanjiao_03.png);}
.reasonSel .select{ width: 152px; border: 1px solid #dddddd; border-top: none; background: white; position: absolute; left: 0; top: 21px; padding-top: 5px; padding-bottom: 5px; display: none;}
.reasonSel .select .rad{ vertical-align: middle; margin-right: 4px; margin-left: 5px;}
.select .rea{ font-size: 12px; color: #333333;}
.cancelBomb .txt{ display: inline-block; width: 202px; height: 20px; border: 1px solid #dddddd; padding: 0 5px; vertical-align: middle;}
.cancelBomb .select li{ margin-top: 2px;}
 /*加*/
.proBox .cont .carryM{ margin-top: -2px;}
.proBox .cont .carryM .red{ background: #6E5C58;}

.cancelBomb .remark{ display: none;}

