.rightSide{width: 1190px;  float:left; margin: 15px 0 0 15px;}
/*面包屑导航*/
.breadNav{height: 50px; background: white;line-height: 50px; padding: 0 22px;}
.breadNav a{color: #333333; font-size: 16px;}

.detailNav{ margin-top:10px; background:#fffbfc; }
.detailNav>a{ width:100px; height:40px; line-height:40px; text-align:center; display:inline-block; font-size:14px; color:#7f726a; }
.detailNav>a:hover{ color:black; }

/*表格模块*/
.tableModule{width: 1190px; background: white; margin-top: 20px;}
.tableBox{width: 1190px;}
.tableBox .thead{ background: #fffbfc; height: 56px; line-height: 56px; }
.tableBox li{font-size: 0;}
.tableBox li span{ text-align: center;}
.tableBox .thead span{font-size: 12px; color: #7f726a; border: 1px solid #f0e9e3; border-right: none;}
.tableBox .thead span:last-child{ border-right: 1px solid #f0e9e3;}
.tableBox .row span{ font-size: 12px; color: #333333; padding: 15px 2px;}
.tableBox .row span:nth-child(7){ color: #5a2e17;}
.tableBox .row span:nth-child(8) a{ display: inline-block; width: 65px; height: 26px; color: white; text-align: center; line-height: 26px; background: #5a2e17; border-radius: 10px;}
.tableBox .row{border-bottom: 1px solid #f4f4f4; background: white;}
.tableBox .row:nth-child(odd){ background: #f6f7f9;}
.tableBox span{display: inline-block; vertical-align: middle;}
.tableBox span:nth-child(1){ width: 120px;}
.tableBox span:nth-child(2){ width: 210px;}
.tableBox span:nth-child(3){ width: 220px;}
.tableBox span:nth-child(4){ width: 270px;}
.tableBox span:nth-child(5){ width: 185px;}
.tableBox span:nth-child(6){ width: 185px;}
/*下部分开始*/
.bottomBox{ margin-top: 30px;}
.bottomBox .bottomL{ width: 310px; height: 85px; background: white; float: left; padding: 12px 0 0 25px;}
.bottomL .PLeft{ width: 185px; float: left;}
.bottomL .PLeft .p1{ font-size: 14px; color: #666666;}
.bottomL .PLeft .p2{ font-size: 24px; color: #ea0339; font-weight: 600; margin-top: 5px;}
.bottomL .pRight{float: right; margin: 14px 30px 0 0;}
		/*待核算*/
.bottomL .pRight .noCheck{display: block; width: 65px; height: 35px; background: #dddddd; font-size: 12px; color: white; text-align: center; line-height: 35px; cursor: default;}
		/*提现*/
.bottomL .pRight .takeCash{display: block; width: 45px; height: 35px; background: #5a2e17; font-size: 12px; color: white; text-align: center; line-height: 35px;}		
.bottomBox .bottomR{ float: right; margin-right: 20px;}
/*分页*/
.page{ /*float:right; margin-top:30px; margin-right:20px; */}
.page>a,.page>span{ display:inline-block; vertical-align:middle; padding:5px 10px; margin-left:10px; color:#999; font-size:14px; background:white; }
.page>a:hover{ background:#6e5c58; color:white; }

/*提现弹框*/
.delePart{ width: 380px; height: 170px; background:white; position: fixed; left: 50%; margin-left: -190px; top: 50%; margin-top: -85px; padding: 15px 20px; box-shadow: 0 0 20px #dedede; z-index: 10;}
.delePart .close{ display: block; width: 12px; height: 12px; background: url(../images/close_03.png); margin-left: auto;}
.delePart p{font-size: 12px; color: #333333; line-height: 24px; padding-left: 10px;}
.delePart .btnBox{margin-top: 30px; text-align: center;}
.btnBox a.sure{ width: 42px; height: 20px; background: #ffce1c; display: inline-block; border: 1px solid #e69c14; color:#a33300; font-size: 12px; line-height: 20px; vertical-align:middle; margin-right: 30px;}
.btnBox a.think{ width: 54px; height: 20px; display: inline-block; border: 1px solid #dddddd; color: #333333; font-size: 12px; vertical-align: middle; line-height: 20px;}
.cashBomb{ display: none; }
.cashBomb .radioBox{ height: 30px; padding-left: 22px; margin-top: 20px;}
.radioBox .singleRad{ float: left; width: 90px; height: 30px; position: relative;}
.radioBox .singleRad .radInt{ opacity: 0;}
.radioBox .singleRad .chooseLab i{ display: inline-block; width: 19px; height: 17px; background: url(../images/pro_38.png); vertical-align: middle; margin-right: 2px;}
.radioBox .singleRad .chooseLab s{ text-decoration: none;}
.radioBox .singleRad .choosed i{ background: url(../images/pro_36.png);}
.radioBox .singleRad .chooseLab{ color: #a1a0a0; font-size: 12px; position: absolute; left: 0; top: 0; cursor: pointer;}
.bankBomb{ display: none;}
.alipayBomb{ display: none;}

