@charset "utf-8";
html,body,div,header,footer,nav,section,table,tr,th,td,ul,ol,li,dl,dt,dd,em,i,b,p,s,h1,h2,h3,h4,h5,h6,pre,img,form,fieldset,legend,input,textarea,select,span,button{margin:0; padding:0; font-weight:normal;}
body{width:100% !important;  color:#333; font-family:Verdana, Microsoft YaHei, Simsun; background:white;}
body{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{border:0;}
ol, ul{list-style:none;}
/*h1, h2, h3, h4, h5, h6{font-size:100%;}*/
em {font-style:normal;}
input, button, select, textarea{outline:none; border:none; border-radius:0;}
textarea{resize:none;}
a{text-decoration:none; /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/ -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease;}
a:hover {text-decoration:none;}
a:active {color:#333;}
.clearfix:before,.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{_zoom:1;}

@font-face {
    font-family: 'iconfont';
    src: url('../font_mqg8bd7tgptoi529/iconfont.eot');
    src: url('../font_mqg8bd7tgptoi529/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font_mqg8bd7tgptoi529/iconfont.woff') format('woff'),
    url('../font_mqg8bd7tgptoi529/iconfont.ttf') format('truetype'),
    url('../font_mqg8bd7tgptoi529/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部 */
/*.head{width:100%; position:fixed; top:0; background:white; padding:10px 0;}
.headBox>div{float:left; margin-left:5px;}
.head_search{width:55%;}
.head_search>input{ width:100%; height:20px; border:1px solid #dddddd; }*/

.hide{ display:none; }

/* 底部 */
.foot{width:100%; position:fixed; bottom:0; z-index:2; background:white;}
.foot li{ width:20%; float:left; padding:2px 0;}
.ify{ width:99.9%; display:block; border-right:1px solid white;  text-align:center; }
.ify>p{font-size:14px; text-align:center;}
.release{position:relative; }
.release span{color:white; font-size:20px;}
.release i{width:40px; height:40px; position:absolute; top:-25%;  display:inline-block; background:#4341C8; border-radius:50%;}


@media screen and (max-width: 500px) {

}