<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <title></title>
</head>
<body>
<!-- 底部 -->
<footer class="foot" id="foot">
    <ul>
        <li>
            <div class="ify">
                <i class="iconfont">&#xe835;</i>
                <p>首页</p>
            </div>
        </li>
        <li>
            <div class="ify">
                <i class="iconfont">&#xe835;</i>
                <p>首页</p>
            </div>
        </li>
        <li>
            <div class="ify">
                <i class="iconfont">&#xe835;</i>
                <p>首页</p>
            </div>
        </li>
        <li>
            <div class="ify">
                <i class="iconfont">&#xe835;</i>
                <p>首页</p>
            </div>
        </li>
        <li>
            <div class="ify">
                <i class="iconfont">&#xe835;</i>
                <p>首页</p>
            </div>
        </li>
    </ul>
</footer>
<!-- 底部结束 -->
</body>
</html>