<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/head.css"/>
    <title></title>
</head>
<body>
    <!-- 头部 -->
    <header class="head" id="head">
        <div class="head_back">
            <a href="" class="back"><i class="iconfont">&#xf007a;</i></a>
        </div>
        <div class="head_pjName">
            <i class="iconfont">&#xe604;</i>
            <span>项目名</span>
        </div>
        <div class="head_search">
            <input type="text"/>
            <i></i>
        </div>
        <div class="talk">
            <i class="iconfont">&#xe684;</i>
        </div>
    </header>
    <!-- 头部结束 -->
</body>
</html>