/* 手持身份证拍照 页面 */
.authenIDcard>p{ width:80%; text-align:center; margin:0 auto; margin-top:50px; border-bottom:1px solid #dddddd;  }
.authenIDcard>p>span{ display:inline-block; font-size:20px; font-weight:500; padding:15px 0; }
.authenIDcard>ul{ width:80%; margin:0 auto; padding-top:30px; }

/* 关闭的图标 */
.close{ text-align:center; margin-top:120px; }
.close img{ width:30px; }


