.jiajie-common_banner img {
    margin-top: 87px;
    width: 587px;
    height: 537px;
    float: right;
}

.jiajie-common_banner h1 {
    margin-top: 167px;
    font-size: 46px;
    color: #FFFFFF;
}

.jiajie-common_banner p {
    font-size: 36px;
    color: #fff;
    margin-top: 52px;
}

.jiajie-common_banner p:first-child {
    margin-top: 0;
}

.jiajie-section-1 .jiajie-section_title {
    margin-top: 45px;
    margin-bottom: 85px;
    font-size: 32px;
    color: #4acaee;
    text-align: center;
}

.jiajie-section-1 dl {
    float: left;
    margin-left: 102px;
}
#service_category_box > dl:nth-child(1) {
    margin-left: 40px;
}

.jiajie-section-1 dt {
    display: table-cell;
    vertical-align: middle;
    font-size: 36px;
    line-height: 50px;
    width: 140px;
    height: 140px;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    /*margin-bottom: 51px;*/
}
#service_category_box > dl:nth-child(1) > dt {
    background: #00beaf;
}
#service_category_box > dl:nth-child(2) > dt {
    background: #18b4ed;
}
#service_category_box > dl:nth-child(3) > dt {
    background: #ff9c0f;
}
#service_category_box > dl:nth-child(4) > dt {
    background: #2ddeea;
}
#service_category_box > dl:nth-child(5) > dt {
    background: #40d887;
}
.jiajie-section-1 dd {
    margin-top: 51px;
}
.jiajie-section-1 dd li {
    margin-top: 30px;
    text-align: center;
}
.jiajie-section-1 dd li a {
    font-size: 20px;
    color: #333333;
}