
.productClassification{ width:1440px; margin:0 auto; font-size:0; }
.addSlide{ margin-top:20px; margin-left:22px; }
.addSlide>p{ height:53px; line-height:53px; padding-left:25px; font-size:16px; background:white; }
/* 产品需求 */
.newSlide{ margin-top:20px; }
.SlideTitle{ background:#fbfbfb; border-bottom:1px solid #ddd; }
.SlideTitle>span{ display:inline-block; padding:15px 22px; font-size:14px; border:1px solid #ddd; border-top:2px solid #ffb900; border-bottom:none; background:white; }
.slide_demand{ padding-top:15px; background:white; }
.slide_demand>form>ul{ margin-left:20px; }
.slide_demand>form>ul>li{ padding:5px 0; }

.slide_demand>form>ul>li:nth-child(1)>input{ width:196px; }
.slide_demand>form>ul>li:nth-child(2)>input{ width:70px; }
.slide_demand>form>ul>li:nth-child(3)>input{ width:390px; }

.slide_demand>form>ul>li>em{ width:100px; display:inline-block; text-align:right; font-size:14px; font-weight:bold; vertical-align:middle; }
.slide_demand>form>ul>li>em>s{ margin-right:5px; text-decoration:none; color:red; vertical-align:middle; }
.slide_demand>form>ul>li>input{ vertical-align:middle; padding:5px; margin-left:10px; border:1px solid #ddd; }

.slide_demand>form>ul>li>span{ margin-left:10px; font-size:14px; }
.slide_demand>form>ul>li>span,.slide_demand>form>ul>li>span>em,.slide_demand>form>ul>li>span>img{ vertical-align:middle;  }
.slide_demand>form>ul>li>span>em{ color:#999; }

/* 图片上传 */
.figureContent{ display:inline-block; vertical-align:top; }
.figureContent>span{ width:480px; display:inline-block; vertical-align:top; margin-left:10px; color:#999; font-size:14px; }

.temperatureBox{ display:inline-block; vertical-align:middle; }
.temperatureBox>a{ position:relative; display:inline-block; margin-left:10px; padding:5px 10px; background:#f2f2f2; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.temperatureBox>a>span{ font-size:12px; color:#333333; }
.temperatureBox>a>img{ position:absolute; right:-8px; top:-10px; }

.feedingBox{ display:inline-block; vertical-align:middle; }
.feedingBox>a{ position:relative; display:inline-block; margin-left:10px; padding:5px 10px; background:#f2f2f2; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.feedingBox>a>span{ font-size:12px; color:#333333; }
.feedingBox>a>img{ position:absolute; right:-8px; top:-10px; }
#picbox{ width:960px; overflow:hidden; }
#maxbox{ margin-top:-23px; }
.minbox{ width:150px; height:150px; float:left; margin:10px; padding:10px; cursor:pointer; position:relative;  background-image:url(/static/style_default/image/bg.png); }
.minbox img{ width:150px; height:150px; border:0px; }
#mypic{ width:0px; height:0px; color:white; background-color:rgb(95, 184, 120); }
#choose_box{ display:inline-block; padding:8px 10px; margin-left:10px; color:white; border-radius:3px; text-align:center; font-size:14px; cursor:pointer; background-color:#6e5c58; }
#upload_box{ display:inline-block; padding:8px 10px; margin-left:10px; color:white; border-radius:3px; text-align:center; font-size:14px; cursor:pointer; background-color:#b19e99; }
.shade_box{ display:none; width:100%; height:30px; position:absolute; left:0; top:0; z-index:100; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; background-color:black; }
.shade_box img{ max-width:15px; max-height:15px; float:right; margin-top:6px; margin-right:10px;  }
.success_box{ width: 40px; height:40px; position:absolute; right:0px; top:0px; background-image:url(/static/style_default/image/up_success.png);display:none; }
.mainpic{ color:white; line-height:30px; font-size:14px; margin-left:10px; display:none; float:left; }


#reSub{ width:84px; height:30px; line-height:30px; margin-top:20px; margin-left:130px; margin-bottom:24px; color:#a33300; background:#ffce1c; border:1px solid #e69c14; cursor:pointer; }