/* ×ÊÖÊÉêÇëÏêÇé */
.productClassification{ width:1440px; margin:0 auto; font-size:0; }
.credentialDetail{ margin-top:20px; margin-left:22px; }
.credentialDetail>p{ height:53px; line-height:53px; padding-left:25px; font-size:16px; background:white; }

.credentiaContainer{ margin-top:20px; padding:35px 45px; padding-bottom:150px;  background:white; }
.credentiaContainer>div{ display:inline-block; }
.credentiaLeft,.credentiaRight{ vertical-align:top; }
.credentiaLeft{ width:524px; }
.productInfo{ margin-bottom:18px; }
.productInfo>img,.productInfo>em{ vertical-align:middle; }
.productInfo>img{ width:124px; margin-right:14px; border-radius:10px; }
.productInfo>em{ display:inline-block; font-style:normal; }
.productInfo>em>h1{ font-size:26px; font-weight:bold; }
.productInfo>em>p{ padding:15px 0; font-size:20px; color:#ff5400; }
.productInfo>em>span{ font-size:12px; }
.productInfo>em>span>dfn,.productInfo>em>span>i{ font-style:normal; color:#838383; }
.credentiaLeft>dl,.credentiaRight>dl{ margin-bottom:18px; }
.credentiaLeft>dl>dt,.credentiaLeft>dl>dd{ font-size:16px; }
.credentiaRight>dl>dt,.credentiaRight>dl>dd{ font-size:16px; }
.credentiaLeft>dl>dt,.credentiaRight>dl>dt{ font-weight:bold; }
.credentiaLeft>dl>dd,.credentiaRight>dl>dd{ color:#666; }
.credentiaLegal>dd>img,.applyInfo>dd>img{ width:218px; margin-top:20px; margin-right:38px; }
.credentiaLegal>dd>img:last-child,.applyInfo>dd>img:last-child{ margin-right:0; }

.line{ width:4px; height:460px; vertical-align:middle; margin:0 40px; background:#b8b8b8; }


