/*  ��Ʒ�б� */
.productClassification{ width:1440px; margin:0 auto; font-size:0; }
.productList{ margin-top:20px; margin-left:22px; }
.productList>p{ height:53px; line-height:53px; padding-left:25px; font-size:16px; background:white; }
/* ��Ʒ���� */
.newProduct{ margin-top:20px; }
.productTitle{ background:#fbfbfb; border-bottom:1px solid #ddd; }
.productTitle>span{ display:inline-block; padding:15px 22px; font-size:16px; border:1px solid #ddd; border-top:2px solid #ffb900; border-bottom:none; background:white; }
.product_demand{ padding-top:15px; background:white; }
.product_demand>form>ul{ margin-left:20px; }
.product_demand>form>ul>li{ padding:5px 0; }
.product_demand>form>ul>li>em{ width:100px; display:inline-block; text-align:right; font-size:14px; font-weight:bold; vertical-align:middle; }
.product_demand>form>ul>li>em>s{ margin-right:5px; text-decoration:none; color:red; vertical-align:middle; }
.product_demand>form>ul>li>input{ vertical-align:middle; padding:5px; margin-left:10px; border:1px solid #ddd; }
.product_demand>form>ul>li.material_price>em{ vertical-align:top; }
.product_demand>form>ul>li.product_text>em{ vertical-align:top; }
.product_demand>form>ul>li>span{  margin-left:10px; font-size:14px; }
.product_demand>form>ul>li>span,.product_demand>form>ul>li>span>img,.product_demand>form>ul>li>span>em{ vertical-align:middle; }
.product_demand>form>ul>li>span>em{ color:#999; }
.product_text>textarea{ margin-left:10px; border:1px solid #ddd; }

.cup_size{ display:inline-block; vertical-align:middle; margin-left:10px; }
.cup_size>li{ display:inline-block; margin-right:20px; font-size:15px; }
.cup_type{ width:190px; display:inline-block; border:1px solid #ddd; }
.cup_type>p{ text-align:center; padding:5px 0; font-size:14px; font-weight:bold; background:#E6E6E6; }
.cup_type>ul{ height:118px; overflow:auto; padding:5px 10px; }
.cup_type>ul::-webkit-scrollbar { width:8px; border-left:2px solid #ffffff; border-right: 2px solid #ffffff; background-color:#b8b8b8; }
.cup_type>ul::-webkit-scrollbar-thumb { width:8px; height:50px; background-color: #f3c727; }
.cup_type>ul>li{ margin-right:15px; margin-top:2px; font-size:12px; }
.cup_type>ul>li>span{ width:50px; text-align:right; display:inline-block; font-size:12px; }
.cup_type>ul>li>input{ width:50px; padding:5px; border:1px solid #ddd; }

#product_cate_A,.product_cate_B,.product_cate_C { appearance:none; -moz-appearance:none; -webkit-appearance:none; vertical-align:middle; margin-left:10px; padding:5px 77px 5px 10px; /*background: url("../image/pro_13.png") no-repeat 126px 9px;*/border:1px solid #ddd; }
.product_name>span{ margin-left:10px; font-size:14px; }
.product_name>span,.product_name>span>em,.product_name>span>img{ vertical-align:middle;  }
.product_name>span>em{ color:#999; }
.containerCate{ margin-left:110px; font-size:14px; }
.tag{ display:inline-block; margin-top:10px; padding:5px 0 5px 5px; margin-left:5px; background:#f2f2f2; }
.tag:hover{ background:#484848; color:white; }
.tag>img{ width:10px; padding:0 5px; }
.product_text{ position:relative; }
.product_text>p{ position:absolute; bottom:10px; left:662px; font-size:14px; }
#product_des{ height:100px; padding:10px; }
.product_text>p>span{ color:red; }
.product_text>p>em{ color:#999; }
#reSub{ width:84px; height:26px; line-height:26px; margin-left:130px; margin-top:15px; margin-bottom:24px; color:#a33300; background:#ffce1c; border:1px solid #e69c14;}

.supplyBox{ display:inline-block; vertical-align:middle; }
.supplyBox>a{ position:relative; display:inline-block; margin-left:10px; padding:5px 10px; background:#f2f2f2; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.supplyBox>a>span{ font-size:12px; color:#333333; }
.supplyBox>a>img{ position:absolute; right:-8px; top:-10px; }

.temperatureBox{ display:inline-block; vertical-align:middle; }
.temperatureBox>a{ position:relative; display:inline-block; margin-left:10px; padding:5px 10px; background:#f2f2f2; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.temperatureBox>a>span{ font-size:12px; color:#333333; }
.temperatureBox>a>img{ position:absolute; right:-8px; top:-10px; }

.feedingBox{ display:inline-block; vertical-align:middle; }
.feedingBox>a{ position:relative; display:inline-block; margin-left:10px; padding:5px 10px; background:#f2f2f2; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.feedingBox>a>span{ font-size:12px; color:#333333; }
.feedingBox>a>img{ position:absolute; right:-8px; top:-10px; }

/* ͼƬ�ϴ� */
.figureContent{ display:inline-block; vertical-align:top; }
.figureContent>span{ width:480px; display:inline-block; vertical-align:top; margin-left:10px; color:#999; font-size:12px; }

#picbox{ width:960px; overflow:hidden; }
#maxbox{ margin-top:-23px; }
.minbox{ width:150px; height:150px; float:left; margin:10px; padding:10px; cursor:pointer; position:relative;  background-image:url(../image/bg.png); }
.minbox img{ width:150px; height:150px; border:0px; }
#mypic{ width:0px; height:0px; color:white; background-color:rgb(95, 184, 120); }
#choose_box{ display:inline-block; padding:8px 10px; margin-left:10px; color:white; border-radius:3px; text-align:center; font-size:14px; cursor:pointer; background-color:#6e5c58; }
#upload_box{ display:inline-block; padding:8px 10px; margin-left:10px; color:white; border-radius:3px; text-align:center; font-size:14px; cursor:pointer; background-color:#b19e99; }
.shade_box{ display:none; width:100%; height:30px; position:absolute; left:0; top:0; z-index:100; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; background-color:black; }
.shade_box img{ max-width:15px; max-height:15px; float:right; margin-top:6px; margin-right:10px;  }
.success_box{ width: 40px; height:40px; position:absolute; right:0px; top:0px; background-image:url(../image/up_success.png);display:none; }
.mainpic{ color:white; line-height:30px; font-size:14px; margin-left:10px; display:none; float:left; }
