
/*  积分明细 */
.productClassification{ width:1440px; margin:0 auto; font-size:0; }
.storeSettlement{ margin-top:20px; margin-left:22px; }
.storeSettlement>p{ height:53px; line-height:53px; padding-left:25px; font-size:16px; background:white; }
/* 门店结算 */
.setList{ margin-top:15px; }
.setList>a{ width:336px; display:inline-block; padding:32px 25px; margin-left:25px; }
.setList>a:first-child{ margin-left:0; }
.setList>a>em{ display:inline-block; }
.setList>a>em>p,.setList>a>em>span{ color:white; }
.setList>a>em>p{ font-size:37px; }
.setList>a>em>span{ font-size:24px; }
.setList>a>img{ width:58px; float:right; margin-top:40px; }
.setA{ background:#f3ce5f; }
.setB{ background:#6eb4e5; }
.setC{ background:#ff6b86; }
/* 账单列表 */
.details{ margin-top:15px; }
.pointState{ font-size:15px; }
.pointState>em{ display:inline-block; }
.pointState>em>span{ font-weight:bold; }
.pointState>em.pointTime{ margin-right:50px; }
.pointState>em.pointTime>select{ border:1px solid #ddd; padding:5px 10px; border-radius:24px; background:#f5f5f5; }
.pointState>em.pointChoice>select{ background:none; font-size:15px; font-weight:bold; }

.cateList{ margin-top:20px; }
.varieties{ padding:10px 0; border-bottom:1px solid #f4f4f4; }
.cateHead{ height:53px; line-height:53px; }
.cateHead>em{ color:#7f726a; border:1px solid #f0e9e3; background:#fffbfc; }
.cateBody:nth-child(even)>.varieties>em{ border:1px solid white; }
.cateBody:nth-child(odd)>.varieties>em{ border:1px solid #f6f7f9; }
.cateBody:nth-child(odd){ background:#f6f7f9; }
.cateBody:nth-child(even){ background:white; }
.cateHead>em,.varieties>em{ text-align:center; }
.cateHead>em,.varieties>em,.varietiesCateList>a>em,.varietiesCateList>em>div>em{ display:inline-block; vertical-align:middle; font-size:14px; }
.cateHead>em,.cateHead>em>p>span{ font-weight:bold; }
.cateHead>em>p,.varieties>em>p,.varietiesCateList>a>em>p,.varietiesCateList>em>div>em>p{ display:inline-block; }
.varietiesCateList>a,.varietiesCateList>em>div{ display:block; padding:10px 0; border-bottom:1px solid #f4f4f4; }
.varietiesCateList>a>em.v1>img{ margin-left:40px; }
.varietiesCateList>em>div>em.v1>img{ margin-left:80px; }
.varieties>em.v1>p{ margin-left:60px; }
.v1{ width:152px; }
.v2{ width:90px; }
.v3{ width:120px; }
.v4{ width:90px; }
.v5{ width:150px; }
.v6{ width:110px; }
.v7{ width:114px; }
.v8{ width:108px; }
.v9{ width:104px; }
.v10{ width:150px; }
.cateBody em.v9>span{ padding:5px 10px; background:#5a2e17; color:white; border-radius:22px; cursor:pointer; }

/* 核算金额 */
.totalAccount{ display:inline-block; position:relative; padding:15px; margin-left:20px; margin-top:15px; background:white; }
.priceBox{ display:inline-block; vertical-align:middle; }
.priceBox>p>span{ font-size:15px; vertical-align:middle; font-weight:bold; }
.priceBox>p>img{ font-size:20px; vertical-align:middle; margin-left:15px; cursor:pointer; }
.priceBox>span{ font-size:26px; color:#ea0339; }
.totalAccount>span{ display:inline-block; padding:5px 15px; margin-left:15px; vertical-align:middle; font-size:13px; cursor:pointer;  background:#6e5c58; color:white;  }

/* 分页 */
.page{ float:right; margin-top:30px; margin-right:20px; }
.page>a,.page>span{ display:inline-block; vertical-align:middle; padding:5px 10px; margin-left:10px; color:#999; font-size:14px; background:white; }
.page>a:hover{ background:#6e5c58; color:white; }

/* 结算金额 */
.totalPrice{ position:absolute; top:20%; left:45%; }
#totalPrice{ width:600px; height:360px;  box-shadow: 10px 5px 16px #888888; }
.totalPrice>img{ position:absolute; right:14px; top:12px; }

div.accountBox{
    position   :absolute;
    top    :37px;
    left    :70px;
    font-size  : 9pt;
    /*display   :block;*/
    height   :auto;
    width   :auto;
    background-color :transparent;
    *border   :1px solid #666;
}
.accountBox>s{
    position  :absolute;
    top   :-20px;
    *top   :-22px;
    left   :20px;
    display  :block;
    height  :0;
    width  :0;
    font-size : 0;
    line-height : 0;
    border-color :transparent transparent #fff transparent;
    border-style :dashed dashed solid dashed;
    border-width :10px;
}
.accountBox>i{
    position  :absolute;
    top   :-9px;
    *top   :-9px;
    left   :-10px;
    display  :block;
    height  :0;
    width  :0;
    font-size : 0;
    line-height : 0;
    border-color :transparent transparent #fff transparent;
    border-style :dashed dashed solid dashed;
    border-width :10px;
}
.accountBoxContent{
    -moz-border-radius :3px;
    -webkit-border-radius :3px;
    position    :absolute;
    background-color  :#fff;
    padding    :5px;
    *top     :-2px;
    *border-top   :1px solid #666;
    *border-top   :1px solid #666;
    *border-left   :none;
    *border-right   :none;
    *height    :102px;
    box-shadow   : 3px 3px 4px #999;
    -moz-box-shadow  : 3px 3px 4px #999;
    -webkit-box-shadow : 3px 3px 4px #999;
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
}

.v9 a {
    color: #ffffff;
}