.authNameSucc>i                     { display:block; text-align:center; padding:1rem 0;}
.authNameSucc>i>img                 { width:7rem; }
.authInfo                            { text-align:center; }
.authInfo>h3                         { font-size:0.45rem; }
.authInfo>h4                         { margin-top:0.1rem; }
.authNameSucc>ul                     { width:78%; margin:0 auto; font-size:0.45rem; color:#333333; padding:0.4rem 0; }
.authNameSucc>ul>li                  { padding:0.1rem 0; }
.authFun>a                            { display:block; text-align:center; margin-top:15px; }
.authFun>a:first-child>span          { width:5rem; height:1.2rem; line-height:1.2rem; display:inline-block; font-size:0.45rem ;color:white; border-radius:1rem;  background:linear-gradient(120deg,#6671f3,#66b2ea); }
.authFun>a:last-child>i              { position:relative; }
.authFun>a:last-child>i>img          { width:5rem; height:1.2rem; }
.authFun>a:last-child>i>span         { position:absolute; top:-0.65rem; left:1.15rem; font-size:0.45rem; font-style:normal; color:#5856d6; }

