@charset "utf-8";
/* CSS Document */

HTML{FONT-SIZE:12px;FONT-FAMILY:Arial, Helvetica, sans-serif,"瀹嬩綋"; text-align:left;word-break:break-all;text-overflow:ellipsis; }
body{FONT-SIZE:12px; COLOR:#666; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0; margin:0;}
ul,li{list-style:none;margin:0px;padding:0px}
form{ padding:0px; margin:0px}
td{FONT-SIZE:12px}
img{border:0px; vertical-align:top;}
a{ COLOR:#666;TEXT-DECORATION:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#579b09; text-decoration:none;}
input, select { vertical-align: middle;}
.clear{clear:both; font-size:0; line-height:0; height:0;}




.box404{ background: #fff url(../../image/error/404_bj.jpg) repeat-x top;}
.w1000{  width:1000px; margin:0 auto; overflow:hidden; }
.position{position:relative;}
.h404{ margin-top:20px;}
.h404 input{ width:130px; height:17px; position:absolute; bottom:81px; right:447px; background:none; border:none;}
.about_us{ clear:both; padding-top:40px; width:1000px; margin:0 auto;}
.about_us .us_left{ margin:0 auto; width:720px;}
.about_us .us_left p{ clear:both; line-height:22px; color:#848484; padding-left:8px; text-align:center;}
