html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
	}
ol,ul{
	list-style:none;
	margin:0px;
	padding:0px;
	}
li { 
	list-style:none;}
blockquote,q{
	quotes:none;
	}
blockquote:before,blockquote:after,q:before,q:after{
	content:'';content:none;
	}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
	/* start editing from here */
a{ text-decoration:none; color:#fe9d50; }
a:hover { color:#f15f22;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{vertical-align:baseline;}/* vertical align baseline */
.vertical-top{vertical-align:top;}/* vertical align top */
nav.vertical ul li{display:block;}/* vertical menu */
nav.horizontal ul li{display: inline-block;}/* horizontal menu */
img{max-width:100%;}
.basefix { *zoom: 1;
}
font a  { color:#fe9d50;}
.basefix:after { clear: both; content: '.'; display: block; height: 0; overflow:hidden; }
 ::-ms-clear, ::-ms-reveal{display: none;}
 
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;  
	}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
	}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #fff;
	}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #fff;
	}
/* 登录页面开始  */ 
body {
	background:#0b69e8;
	background-size: cover;
	font-family:Microsoft YaHei;
	background-attachment: fixed;
    background-position: center;
}
.container {
	width: 720px;
	height:430px;
	margin: 50px auto;
	
}
h1.header_1 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    padding-top: 50px;
    color: #fff;
    font-family:Microsoft YaHei;
}

.formFields {
	width:400px;
	margin-left:33px;
	}

.contact_form {
	float:left;
	 }
.userLogin {
	float:left;
	}
/* === List Styles === */
.contact_form ul {
	list-style-type:none;list-style-position:outside; 
	padding:0px;
	}
.contact_form li { 
	width:260px;
	margin-top:20px;
	padding:3px;
	position:relative; 
	list-style:none;
	color:#FFFFFF;
	} 

/* === Form Elements === */
.contact_form input { 
    height:40px; 
	border:2px solid #fff;
	padding:5px 5px 5px 55px;
	outline:none;
	border-radius:25px;
	background-color:transparent;
	width:190px;
	color:#FFFFFF;

	
}
.userName_rec {
	position:absolute;
    top:190px;
	margin-left:3px;
	
	z-index:9999;
	
	padding:5px 10px;
	color:#fff;
	border:2px solid #43d854;
	border-top:none;
	
	margin-top:-10px;
	padding-top:20px;
	}

.list{
	width:250px;
	height:100px;
	font-size:14px;
	border:2px solid #43d854;
	background:url(../image/list_bg.png) no-repeat;
	border-top:none;
	margin-top:-30px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	padding-left:30px;
	position:absolute;
	z-index:999;
}
.list ul li {
	padding-left:30px;
	height:20px;
	line-height:20px;
	
	}
.list ul li:nth-of-type(2){
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;	
}
.yanzhengma {
	float:left;
	background:none;
	border:2px solid #fff;
	
	}
/* === HTML5 validation styles === */	
/*用户名*/
.contact_form input.userName { 
	/*background:#0b69e8 url('../image/red_asterisk.png') no-repeat 5px center;*/
	background:#0b69e8 url('../image/red_asterisk.png') no-repeat 5px center;
	border:2px solid #fff;
	}
/*点击用户名输入框*/
.contact_form input.userName:focus:invalid {
	background:#0b69e8 url('../image/invalid.png') no-repeat 5px center;
	border-color:#43d854;
	
}



/*输入密码*/
.contact_form input.userPassw:required {
	background:#0b69e8 url('../image/userPassw-red_asterisk.png') no-repeat 5px center;
}
/*点击密码输入框*/
.contact_form input.userPassw:focus:invalid {
	background:#0b69e8 url('../image/userPassw-invalid.png') no-repeat 5px center;
	border-color:#43d854;
}

/*输入邮箱*/
.contact_form input.userEmail:required {
	background:#0b69e8 url('../image/userEmail-red_asterisk.png') no-repeat 5px center;
	/*border-color: #fe9d50;*/
}
/*点击邮箱输入框*/
.contact_form input.userEmail:focus:invalid {
	background:#0b69e8 url('../image/userEmail-invalid.png') no-repeat 5px center;
	border-color:#43d854;
}

/*验证码*/
.contact_form input.yanzhengma:required {
	background:#0b69e8 url('../image/yanzhengma-red_asterisk.png') no-repeat 5px center;
}
/*点击验证码输入框*/
.contact_form input.yanzhengma:focus:invalid {
	background:#0b69e8 url('../image/yanzhengma-invalid.png') no-repeat 5px center;
	border-color:#43d854;
}
/*验证码输入不符合规则*/
.contact_form input.yanzhengma_err {
	background:#0b69e8 url('../image/yanzhengma-err.png') no-repeat 5px center;
	border-color: #fe9d50;
}
/*验证码输入正确*/
.contact_form input.yanzhengma:required:valid {
	background:#0b69e8 url('../image/yanzhengma-valid.png') no-repeat 5px center;
	border-color:#fff;
}

/* 右侧信息提示 */
.form_hint {
	background:#43d854;
	height:26px;
	line-height:26px;
	font-size:12px;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 3px 6px;
	z-index: 999; 
	position: absolute;
	top:5%;
	display: none;
	z-index:9999;
	white-space:nowrap;
}
/*.form_hint::before {
	content: "\25C0";
	color:#43d854;
	position: absolute;
	top:1px;
	left:-6px;
	position:absolute;
	z-index:9999;
}
*/
/* 右侧信息提示输入错误 */
.form_hint_err {
	background: #fe9d50;
	height:26px;
	line-height:26px;
	font-size:12px;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 3px 6px;
	z-index: 999; 
	position: absolute;
	top:5%;
	z-index:9999;
	white-space:nowrap;
	
	
}
/*.form_hint_err::before {
	content: "\25C0";
	color:#fe9d50;
	position: absolute;
	top:1px;
	left:-6px;
	position:absolute;
	z-index:9999;
}*/


/*.contact_form input:focus + .form_hint {
	display: inline;
	}*/

.signup {
	float:left;
	border-left:1px solid #CCCCCC;
	text-align:center;
	text-align:-webkit-center;
	text-align:-moz-center;
	padding-left:60px;
	margin-left:60px;
	height:470px;
}

.header {
    font-size: 16px;
    font-weight: 500;
    width: 215px;
    color: #fff;
	margin-right:10px;
	text-align:justify;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
	font-family:Microsoft YaHei;
}


.signup h3 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    padding-bottom: 30px;
    font-family:Microsoft YaHei;
	margin-top:30px;
}
.or {
	color:#fff;
	margin-bottom:20px;
	}
ul.social-icons {
	list-style:none;
	margin:0 auto;
	width:200px;
}
ul.social-icons li {
	text-align:center;
	margin-bottom:20px;
}
ul.social-icons li a {
	text-decoration:none;
	width:200px;
	height:60px;
	line-height:60px;
	font-size:16px;
	font-weight:normal;
	color:#fff;
	display:table-cell;
    vertical-align:middle;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-o-border-radius:30px;
	-ms-border-radius:30px;	
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
ul.social-icons li a img {
	vertical-align:middle;
	}

ul.social-icons li:nth-child(1) a {
	background-color:#1da1f2;
	margin-bottom:30px;
}
ul.social-icons li:nth-child(2) a {
	background-color:#43d854;
	margin-bottom:30px;
}
ul.social-icons li:nth-child(3) a {
	background-color:#cd201f;
	margin-bottom:30px;
}



ul.social-icons li:nth-child(1) a:hover,ul.social-icons li:nth-child(3) a:focus,ul.social-icons li:nth-child(3) a.active {
	background-color:#136ba0;
}
ul.social-icons li:nth-child(2) a:hover,ul.social-icons li:nth-child(4) a:focus,ul.social-icons li:nth-child(4) a.active {
	background-color:#2d8c37;
}
ul.social-icons li:nth-child(3) a:hover,ul.social-icons li:nth-child(2) a:focus,ul.social-icons li:nth-child(2) a.active {
	background-color:#801514;
}

ul.social-icons li a i.fa {
	margin-right:10px;
	margin-left:50px;
	font-size:20px;
	font-weight:thin;
} 
p.copyright {
    font-size: 16px;
    text-align: center;
    color: #dadada;
    padding-top: 50px;
	margin-bottom:50px;
	
}
p.copyright a {
	color:#fe9d50;
}
p.copyright a:hover {
	color:#f15f22;
}

/* 注册按钮 */
.submit {
	float:left;
	font-family:Microsoft YaHei;
	color:#FFFFFF;
	font-size:20px;
	border-radius:25px;
	width:255px;
	border:none; 
	text-align: center;
	height:55px;
	background-color:#fe9d50;
	outline: none;
	 text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.submit:hover {
	cursor: pointer; 
	background-color:#f15f22;
	color:#fff;
}

.rem-for-agile{
	width:100%;
	padding:0px;
	float:left;
	text-align:left;
	font-size:13px;
	color:#fff;
	margin:0px;
}


.rem-for-agile a{
	color: #fe9d50;
	display:inline-block;
}
.rem-for-agile a:hover{
	color: #f15f22;;
}
/*  注册页面结束  */






/*  登录页面开始  */
.body1 {
	background:#0b69e8;
	background-size: cover;
	font-family:Microsoft YaHei;
	background-attachment: fixed;
    background-position: center;
}
.container1 {
	width: 260px;
	height:360px;
	margin: 50px auto;
	
}
.header1 {
    text-align: center;
    font-size: 40px;
    font-weight:normal;
    padding-top:120px;
    color: #fff;
	margin:0 auto;
    font-weight: 500;
    width: 215px;
    letter-spacing: 1px;
	font-family:Microsoft YaHei;
}

.contact_form1 {
	float:left;
	 }
/* === List Styles === */
.contact_form1  ul {
	list-style-type:none;list-style-position:outside; 
	padding:0px;
	}
.contact_form1 li { 
	width:260px;
	margin-top:20px;
	padding:3px;
	position:relative; 
	list-style:none;
	color:#FFFFFF;
	} 
.LoginMethod {
	float:left;
	width:150px;
	height:22px;
	margin:0px;
	}
.LoginMethod ul {
	width:190px;
	height:20px;
	padding:0px;
	margin:0px;
	}
.LoginMethod ul li {
	float:left;
	text-align:center;
	font-size:12px;
	height:20px;
	line-height:20px;
	width:60px;
	position:relative; 
	list-style:none;
	color:#FFFFFF;
	margin:0px;
	padding:0px;	
	}
.LoginMethod ul li::after {
	content:'|';
	font-size:12px;
	display:block;
	float:right;	
	}
.LoginMethod ul li:nth-of-type(3)::after {
	content:'';
	font-size:12px;
	display:block;
	float:right;	
	}
.LoginMethod ul li a {
	padding:0 4px;
	color:#FFFFFF;
	}
.LoginMethod ul li a:hover {
	color:#fe9d50;
	}
.LoginMethod ul li a img {
	vertical-align:middle;
	}
.SignUp {
	float:right;
	width:82px;
	height:22px;
	font-size:14px;
	color:#fe9d50;
	} 
.SignUp img {
	vertical-align:middle;
	}
/* === Form Elements === */
.contact_form1 input { 
    height:40px; 
	border:2px solid #fff;
	padding:5px 5px 5px 55px;
	outline:none;
	border-radius:25px;
	background-color:transparent;
	width:190px;
	color:#FFFFFF;

	
}
.contact_form1 input	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;  
}

.contact_form1 input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}

.contact_form1 input:-ms-input-placeholder,
.contact_form1 textarea:-ms-input-placeholder {
    color: #fff;
}

.contact_form1 input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
}
/* === HTML5 validation styles === */	
/*用户名*/
.contact_form1 input.userName:required {
	background:#0b69e8 url('../image/red_asterisk.png') no-repeat 5px center;
}
/*点击用户名输入框*/
.contact_form1 input.userName:focus:invalid {
	background:#0b69e8 url('../image/invalid.png') no-repeat 5px center;
	border-color:#43d854;
	
}
/*用户名输入不符合规则*/
.contact_form1 input.userName_err {
	background:#0b69e8 url('../image/err.png') no-repeat 5px center;
	border-color: #fe9d50;
}
/*用户名输入正确*/
.contact_form1 input.userName:required:valid {
	background:#0b69e8 url('../image/valid.png') no-repeat 5px center;
	border-color: #fff;
}



/*输入密码*/
.contact_form1 input.userPassw:required {
	background:#0b69e8 url('../image/userPassw-red_asterisk.png') no-repeat 5px center;
}
/*点击密码输入框*/
.contact_form1 input.userPassw:focus:invalid {
	background:#0b69e8 url('../image/userPassw-invalid.png') no-repeat 5px center;
	border-color:#43d854;
}
/*密码输入不符合规则*/
.contact_form1 input.userPassw_err {
	background:#0b69e8 url('../image/userPassw-err.png') no-repeat 5px center;
	border-color: #fe9d50;
}
/*密码输入正确*/
.contact_form1 input.userPassw:required:valid {
	background:#0b69e8 url('../image/userPassw-valid.png') no-repeat 5px center;
	border-color:fff;
}
 
p.copyright1 {
    font-size: 16px;
    text-align: center;
    color: #dadada;
	margin-bottom:50px;
	
}
p.copyright1 a {
	color:#fe9d50;
}
p.copyright1 a:hover {
	color:#f15f22;
}

/* 注册按钮 */
button.submit1 {
	float:left;
	font-family:Microsoft YaHei;
	color:#FFFFFF;
	font-size:20px;
	border-radius:25px;
	width:255px;
	border:none; 
	text-align: center;
	height:55px;
	background-color:#fe9d50;
	outline: none;
	 text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

button.submit1:hover {
	cursor: pointer; 
	background-color:#f15f22;
	color:#fff;
}

.rem-for-agile1{
	width:100%;
	padding:0px;
	float:left;
	text-align:left;
	font-size:13px;
	color:#fff;
	margin:0px;
}


.rem-for-agile1 a{
	color: #fe9d50;
	display:inline-block;
}
.rem-for-agile1 a:hover{
	color: #f15f22;;
}

/*  登录页面结束  */

#top_nav {
	margin: 0 auto;
	z-index: 1000;
	width:100%;
	height:70px;
}
#top_nav nav{
	display: table;
	height:70px;
	margin: 0 auto;
	position: relative;
	width:1200px;
}
#top_nav nav .logo{
	position: relative;
	float: left;
	margin: 15px 0;
	cursor: pointer;
	border-radius: 3px;
	background-image: url("../image/logo2.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 80%;
	background-color: #3f8654;
	width:150px;
	height:40px;
}
#top_nav nav>.logo>i{
	position: absolute;
	right: 0;
	top:0;
	padding: 5px;
	font-size: 20px;
	align-self: center;
	color: #ffffff;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);
}
.menu{
	z-index: 1000;
	display: none;
	position: absolute;
	top:56px;
	left: 0;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
	background: #ffffff;
}
.menu>ul{
	float: right;
	width:220px;
}
.menu>ul>li,.menu>.search{
	cursor: pointer;
	padding: 0 10px;
	height:40px;
	border-bottom: 1px solid #ebebeb;
}
.menu>.search input{
	line-height:38px;
}
.menu>.search i{
	margin-top: 6px;
	font-size: 24px;
	float: right;
}
.menu>ul>li{
	margin: 0 0 0 auto;
	width:198px;
}
.menu>ul>li span{
	float: left;
	line-height:40px;
}
.menu>ul>li i{
	margin-top:11px;
	float: right;
}
.menu>ul>.active{
	border-left: 2px solid #3f8654;
	color: #3f8654;
}
.menu_sub_content{
	width:440px;
	position: absolute;
	top:0;
	left: 220px;
}
.menu_sub_content{
	background: #ffffff;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.menu_sub_content .list{
	padding: 20px;
	display: table;
	width:400px;
}
.menu_sub_foot{
	text-align: center;
	width:400px;
	margin: 20px;
	background: #ebebeb;
}
.menu_sub_foot a{
	display: block;
	line-height:40px;
	height:40px;
	color: #3f8654;
}
.menu_sub_content dl{
	padding:0 20px;
	display: table;
	height:240px;
	float: left;
	box-sizing: border-box;
	width:200px;
}
.menu_sub_content>dl>a{
	padding-bottom: 20px;
	font-size: 12px;
	color: #3f8654;
	height:30px;
	align-items: center;
}
.menu_sub_content dl dt{
	padding: 10px 0;
}
.menu_sub_content dl>a{
	color: #3f8654;
}
.menu_sub_content dl dt a{
	font-size: 14px;
	color: #3f8654;
}
.menu_sub_content dl dt a i{}
.menu_sub_content dd{
	width:80%;
}
.menu_sub_content dl:nth-of-type(2n-1){
	border-right: 1px solid #ebebeb;
}
.menu_sub_content dl:nth-of-type(1),.menu_sub_content dl:nth-of-type(2){
	border-bottom: 1px solid #ebebeb;
}
.menu_sub_content dd a{
	line-height:24px;
	display: block;
	height:24px;
	font-size: 12px;
}
.menu_sub_content dd a i{
	margin: 0;
	float: right;
}
.menu_sub_content dd a:hover{
	color: #3f8654;
}
.menu_login{
	position: relative;
	z-index: 2000;
	float: right;
}
.menu_login a{
	float: left;
	display: block;
}
.menu_login i{
	margin: 15px 5px;
	cursor: pointer;
	float: left;
	width:40px;
	height:40px;
	display: block;
	background: url("../image/icon_home_login.png") no-repeat;
}
.menu_login .login_info,
.menu_login .search{
	float: left;
	position: relative;
}
.menu_login .login_info>div{
	right: 10px;
	top:70px;
	position: absolute;
	display: table;
	height:20px;
	background: #ffffff;
	border: 1px solid #cccccc;
}
.menu_login .search div{
	margin: 19px 0;
	display: block;
	height:30px;
	position: relative;
	border: 1px solid #cccccc;
	width:30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.menu_login .active div{
	width:200px;
	transition: all 0.3s;
}
.menu_login .search input{
	background: none;
	display: block;
	width:0;
	height:28px;
}
.menu_login .active input{
	margin: 0 30px 0 15px;
	width:155px;
	transition: all 0.3s;
}
.menu_login .search i{
	top:0;
	right: -10px;
	position: absolute;
}
.menu_login .user{
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid #808080;
	margin: 8px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.menu_login .login_info div:before{
	position: absolute;
	content: "";
	z-index: 1;
	top: -18px;
	left: 58px;
	border: 10px solid transparent;
	border-bottom: 8px solid #cccccc;
}
.menu_login .login_info div:after{
	position: absolute;
	content: "";
	z-index: 1;
	top: -17px;
	left: 58px;
	border: 10px solid transparent;
	border-bottom: 8px solid #ffffff;
}
.menu_login ul li{
	height:22px;
	line-height:22px;
	display: block;
	width:90px;
}
.menu_login ul li a{
	font-size: 12px;
	display: block;
	width:100%;
	height:100%;
	text-align: center;
}
.menu_login ul li:hover{
	background: #f5f5f5;}
.menu_login ul li:hover a{
	color: #3f8654;
}