/* �ҵ���� */

.pjoTitle {
	border-bottom: none;
}

.pjoTitle>a.back {
	position: absolute;
	left: 0.24rem;
	top: 1.3rem;
}

.pjoTitle>a.back>img {
	width: 0.85rem;
}

.pjoTitle>span {
	font-weight: normal;
	color: white;
}

.pjoTitle,
.userAmount {
	background: #ff6930;
}

.userAmount {
	/*padding: 0 0.42rem;*/
}

.userAmount>p {
	padding-top: 0.65rem;
	text-align: center;
	color: white;
	font-size:1rem;
}

.userAmount>span {
	display: inline-block;
	margin-top: 0.74rem;
	padding-bottom: 0.6rem;
	font-size: 1.09rem;
	color: white;
}
.btn_box{
	font-size:0;
}
.btn_box>a {
	width: 49.8%;
	height: 1.4rem;
	display: inline-block;
	line-height: 1.4rem;
	text-align: center;
	margin-top: 0.8rem;
	font-size: 0.4rem;
	color:white;
	border-top:1px solid #ff966f;
	
}
.btn_box>a:first-child{
	border-right: 1px solid #ff966f;
}


/* ֧���б� */

.payList {
	margin-top: 0.26rem;
	background: white;
	margin-bottom: 2rem;
}

.payList>dl>dt,
.payList>dl>dd {
	padding: 0.37rem 0;
	margin-left: 0.46rem;
	border-bottom: 0.01rem solid #ddd;
}

.payList>dl>dt>p {
	padding-left: 0.33rem;
	margin-left: -0.5rem;
	font-size: 0.42rem;
	border-left: 0.13rem solid #ff6930;
}

.payList>dl>dd>a>em {
	display: inline-block;
}

.payList>dl>dd>a>em>span {
	display: block;
	font-size: 0.37rem;
	font-style: normal;
}

.payList>dl>dd>a>em>em {
	font-size: 0.32rem;
	font-style: normal;
	color: #666;
}

.payList>dl>dd>a>dfn {
	float: right;
	text-align: right;
	margin-right: 0.42rem;
}

.payList>dl>dd>a>dfn>span {
	display: block;
	font-size: 0.37rem;
	font-style: normal;
	color: #e10030;
}

.payList>dl>dd>a>dfn>em {
	font-size: 0.32rem;
	font-style: normal;
	color: #666;
}