/* ��������� */
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
.pjoTitle{ position:relative; border-bottom:0.01rem solid #f5f5f5; }
.pjoTitle>a{ position:absolute; left:0.24rem; top:1.3rem; }
.pjoTitle>a>img{ width:0.85rem; }
/* �? */
.joinList>form>ul{ padding-left:0.34rem; margin-bottom:0.3rem; background:white; }
.joinList>form>ul>li{ padding:0.4rem 0; border-bottom:0.01rem solid #f5f5f5; }
.joinList>form>ul>li>span{ margin-right:0.3rem; }
.joinList>form>ul>li>span,.joinList>form>ul>li>input,.joinList>form>ul>li>a>span{ font-size:0.4rem; vertical-align:middle; }
.joinList>form>ul>li>a>span,.joinList>form>ul>li>a>img{ vertical-align:middle; }
.joinList>form>ul>li>a>span{ color:#bcbcbc; }
.joinList>form>ul>li>a>img{ width:0.21rem; float:right; margin-right:0.21rem; }
.section>i{ width:3rem; display:inline-block; text-align:center; font-size:0.4rem; font-style:normal; }
.section>i>a{ display:block; margin-top:0.2rem; color:#bcbcbc; }
.choiceBox{ width:6.64rem; display:inline-block; vertical-align:top; margin-left:1rem; }
.choiceBox>a{ display:inline-block; }
.choiceBox>a>img,.choiceBox>a>span{ vertical-align:middle; }
.choiceBox>a>img{ width:0.34rem; }
.choiceBox>a>span{ font-size:0.4rem; }
.choiceBox>p{ margin-top:0.2rem; font-size:0.34rem; color:#bcbcbc; }
#codeBtn{ width:2.17rem; height:0.7rem; line-height:0.7rem; display:inline-block; text-align:center; margin-left:0.26rem; font-size:0.32rem; color:white; background:#ff6633; border-radius:0.2rem; }
.choiceText{  margin-top:0.2rem; }
.choiceText>a>span{ font-size:0.34rem; color:#bcbcbc; }
.choiceText>a>img{ width:0.21rem; float:right; }

/* ��ϵ��ʽ */
.subBtn{ text-align:center; margin-bottom:0.3rem; }
.subBtn>a{ display:inline-block; background:#333333; }
.subBtn>a,.subBtn>input{ width:4.24rem; height:1.06rem; line-height:1.06rem; font-size:0.48rem; color:white; border-radius:0.1rem; }
.subBtn>input{ background:#ff6633; }

.lay{ position:absolute; width:100%; height:100%; top:0; background:black; opacity:0.5; z-index:1; }

/* ���� */
.regionContainer{ width:100%; position:fixed; bottom:0; z-index:2; background:white;; }
.regionContainer>p{ text-align:center; padding:0.2rem 0; font-size:0.4rem; }
.regionContainer>p>img{ width:0.32rem; float:right; margin-top:0.1rem; margin-right:0.49rem; }
.choiceRegion{ height:6.6rem; overflow:scroll; padding-left:0.4rem; }
.choiceRegion>ul{ display:inline-block; font-size:0; }
.choiceRegion>ul>li{ height:1rem; line-height:1rem; font-size:0.32rem; }
.regionBox{ border-bottom:0.01rem solid #ddd; }
.regionBox>a{ display:inline-block; margin-left:0.36rem; font-size:0.32rem; }

/* ��ʾ�� */
.tips{ width:8rem; position:absolute; left:1rem; text-align:center; padding:0.26rem; font-size:0.37rem; background:#303030; color:white; border-radius:0.2rem; display:none; z-index:3; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#bcbcbc;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#bcbcbc;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:#bcbcbc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#bcbcbc;
}



